.grid {
  display: flex;
  flex-direction: column-reverse;

}

.square {
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  font-size: 9px;
}

.square-dark {
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  background-color: #000;
  color: #000;
}

.App {
  text-align: center;
}
